In [1]:
# 透過pandas從時間(time)資料擷取特徵
import numpy as np
import pandas as pd

C:\ProgramData\anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# 自動產生日期時間資料, 注意freq變數的設定

rng_ = pd.date_range("2019-03-05", periods=20, freq="1h15min10s")
df = pd.DataFrame({"date": rng_})
df.head()

                 date
0 2019-03-05 00:00:00
1 2019-03-05 01:15:10
2 2019-03-05 02:30:20
3 2019-03-05 03:45:30
4 2019-03-05 05:00:40

In [14]:
# extract hr, min and sec

df["hour"] = df["date"].dt.hour
df["min"] = df["date"].dt.minute
df["sec"] = df["date"].dt.second
print(type(df["date"].dt))
df.head()

<class 'pandas.core.indexes.accessors.DatetimeProperties'>

                 date  hour  min  sec  h   m   s
0 2019-03-05 00:00:00     0    0    0  0   0   0
1 2019-03-05 01:15:10     1   15   10  1  15  10
2 2019-03-05 02:30:20     2   30   20  2  30  20
3 2019-03-05 03:45:30     3   45   30  3  45  30
4 2019-03-05 05:00:40     5    0   40  5   0  40

In [4]:
df.shape

(20, 4)

In [10]:
# 建立新特徵
df[["h", "m", "s"]] = pd.DataFrame([(x.hour, x.minute, x.second) for x in df["date"]])
print(type(x for x in df["date"]))
df.head()

<class 'generator'>

                 date  hour  min  sec  h   m   s
0 2019-03-05 00:00:00     0    0    0  0   0   0
1 2019-03-05 01:15:10     1   15   10  1  15  10
2 2019-03-05 02:30:20     2   30   20  2  30  20
3 2019-03-05 03:45:30     3   45   30  3  45  30
4 2019-03-05 05:00:40     5    0   40  5   0  40

In [6]:
df["hour"].unique()

array([ 0,  1,  2,  3,  5,  6,  7,  8, 10, 11, 12, 13, 15, 16, 17, 18, 20,
       21, 22, 23])

In [7]:
# 判定是否為早上
df["is_morning"] = np.where((df["hour"] < 12) & (df["hour"] > 6), 1, 0)
df.head()

                 date  hour  min  sec  h   m   s  is_morning
0 2019-03-05 00:00:00     0    0    0  0   0   0           0
1 2019-03-05 01:15:10     1   15   10  1  15  10           0
2 2019-03-05 02:30:20     2   30   20  2  30  20           0
3 2019-03-05 03:45:30     3   45   30  3  45  30           0
4 2019-03-05 05:00:40     5    0   40  5   0  40           0