In [1]:
import pandas as pd
# create dataframe by matrix
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
df=pd.DataFrame(data, columns=['A','b','c'])
df.head(2)

C:\ProgramData\anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

   A  b  c
0  1  2  3
1  4  5  6

In [2]:
# create dataframe by dictionary
dic = {'A':[1,4,7],
       'b':[2,5,8],
       'c':[3,6,9]}
df=pd.DataFrame(dic)
df.tail(1)

   A  b  c
2  7  8  9

In [3]:
df.columns = ['X', 'y', 'z']
df

   X  y  z
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
df[:0]

Empty DataFrame
Columns: [X, y, z]
Index: []

In [6]:
df[:1]

   X  y  z
0  1  2  3

In [7]:
df[:3]

   X  y  z
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
df[:5]

   X  y  z
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
print(type(df[0:0]))

<class 'pandas.core.frame.DataFrame'>

In [11]:
df.dtypes

X    int64
y    int64
z    int64
dtype: object