In [2]:
import pandas as pd
# create dataframe by matrix
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
df=pd.DataFrame(data, columns=['A','b','c'])
df

C:\ProgramData\anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

   A  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
# create dataframe by dictionary
dic = {'A':[1,4,7],
       'b':[2,5,8],
       'c':[3,6,9]}
df=pd.DataFrame(dic)
df

   A  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
import pandas as pd

# 建立串列資料
data1 = {'ID':[1,2,3,4],
         'Name': ['Tom', 'Mary', 'Jackie', 'Renae'],
        'Age': [35, 27, 23, 45]}

# 建立資料框
df1 = pd.DataFrame(data1)
print(df1)

   ID    Name  Age
0   1     Tom   35
1   2    Mary   27
2   3  Jackie   23
3   4   Renae   45

In [12]:
# initialize list of lists
data2 = [[1,'John', 43], [2,'Conan', 22], [3,'Jane', 28]]

# Create the pandas DataFrame
df2 = pd.DataFrame(data2, columns=['ID','Name','Age'])

print(df2)

   ID   Name  Age
0   1   John   43
1   2  Conan   22
2   3   Jane   28

In [14]:
print (pd.merge(df1, df2,left_on='ID', right_on='ID'))

   ID  Name_x  Age_x Name_y  Age_y
0   1     Tom     35   John     43
1   2    Mary     27  Conan     22
2   3  Jackie     23   Jane     28

In [15]:
print (pd.merge(df1, df2,left_on='ID', right_on='ID', how='left'))

   ID  Name_x  Age_x Name_y  Age_y
0   1     Tom     35   John   43.0
1   2    Mary     27  Conan   22.0
2   3  Jackie     23   Jane   28.0
3   4   Renae     45    NaN    NaN

In [27]:
# 建立串列資料
data3 = {'Name': ['Apple', 'Grape', 'Banana', 'Watermellon','Mango'],
        'Quantity': [3, 7, 2, 40,5]}

# 建立資料框
df3 = pd.DataFrame(data3)
print(df3)

          Name  Quantity
0        Apple         3
1        Grape         7
2       Banana         2
3  Watermellon        40
4        Mango         5

In [28]:
# 建立串列資料
data4 = {'Name': ['Apple', 'Grape', 'Banana', 'Watermellon'],
        'Price': [35, 27, 23, 45]}

# 建立資料框
df4 = pd.DataFrame(data4)
print(df4)

          Name  Price
0        Apple     35
1        Grape     27
2       Banana     23
3  Watermellon     45

In [29]:
print (pd.merge(df3, df4,left_on='Name', right_on='Name', how='left'))

          Name  Quantity  Price
0        Apple         3   35.0
1        Grape         7   27.0
2       Banana         2   23.0
3  Watermellon        40   45.0
4        Mango         5    NaN